
.login:hover{
  background-color:  rgb(131,58,180);

}
  



.dropdown {
  display: inline-block;
  position: relative;
  float:right;
}

h1{
  color: rgb(247, 250, 247);
  margin: 10px 40px 20px 20px;
  font-size:25px;
  cursor:pointer;
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.makerefral{
  background: linear-gradient(90deg, rgba(102,96,207,1) 0%, rgba(144,60,177,1) 49%, rgba(236,216,245,1) 100%);
  margin: 50px auto;
  width: 600px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
}


.lab{
  margin:10px ;
  font-size: 20px;
  color: #fff;
}
.inp{
  margin: 10px;
  border-radius: 5px;
  border: none;
  width: 250px;
  padding: 10px;
}
.btn{
  margin-left: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: purple;
  color: #f2f2f2;
  font-size: 20px;

}

.btn:hover{
  background-color: #fff;
  color: black;
}

table{
  margin: 20px;
  border: groove;
}

th{
  background-color: aqua;
 padding: 10px;
 border: groove;

}
td{

background-color: aquamarine;
padding: 5px;

}

